<!DOCTYPE html>
<html>
<head>
  <title>Swell</title>
  <%= stylesheet_link_tag    "swell_id/application", media: "all" %>
  <%= javascript_include_tag "swell_id/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
